body {
    font-family: 'Comfortaa';
    font-style: normal;
}

.wrapper {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    text-align: center;
}